<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pay">
	<insert id="insertPay">
		insert into pay values('pseq' || lpad(seq_pay_no.nextval, 5, '0'),
								#{memberId},
								sysdate,
								${payPrice},
								0,
								default,
								#{deliverType},
								#{marketNo})
	</insert>
	
	<select id="getMarketNo" resultType="string">
		select market_no from market where market_address like '%'||#{address}||'%' and flag=2
	</select>
	
	<select id="getPayNo" resultType="string">
		select pay_no from pay where member_id=#{memberId} and pay_flag=0
	</select>
	
	<insert id="insertPayDetail">
		insert into pay_detail values('pdsq' || lpad(seq_pdt_no.nextval, 5, '0'),
									  #{payNo},
									  #{foodNo},
									  #{payDetailAmount})
	</insert>
	
	<select id="getPayDetail" resultType="paydetail">
		select * from pay_detail
	</select>
	
	<update id="updateStock">
		update stock set stock_amount = stock_amount - #{amount} where market_no = #{marketNo} and food_no = #{foodNo}
	</update>
	
	<delete id="deletePayDetail">
		delete from pay_detail where pay_no = #{payNo} and food_no = #{foodNo}
	</delete>
	
	<update id="rollbackStock">
		update stock set stock_amount = stock_amount + #{amount} where market_no = #{marketNo} and food_no = #{foodNo}
	</update>
	
	<delete id="deletePayInfo">
		delete from pay where pay_no = #{payNo} and member_id = #{memberId} and pay_flag = 0
	</delete>
	
	<update id="updatePayInfo">
		update pay set pay_flag = #{payFlag} where pay_no = #{payNo} and member_id = #{memberId} and pay_flag = 0
	</update>
	
	<insert id="insertPayment">
		insert into payment values('pmsq' || lpad(seq_pmt_no.nextval, 5, '0'),
								   #{memberId},
								   #{paymentWay},
								   #{card},
								   #{bank},
								   #{account})
	</insert>
</mapper>