<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipe">
	<select id="selectRecipeList" resultMap="recipeMap">
		select * from recipe A where recipe_enabled = 1 order by recipe_date desc
	</select>
	<select id="selectRecipeIndexList" resultMap="recipeMap">
		select * from recipe A where recipe_enabled = 1 order by recipe_date desc
	</select>
	<resultMap type="recipe" id="recipeMap">
		<result column="recipe_no" property="recipeNo" />
		<result column="member_id" property="memberId" />
		<result column="recipe_title" property="recipeTitle" />
		<result column="recipe_readcount" property="recipeReadcount" />
		<result column="recipe_date" property="recipeDate" />
		<result column="recipe_enabled" property="recipeEnabled" />
	</resultMap>
	
	<select id="selectOneRecipe" resultMap="recipeCollectionMap">
		select A.*, B.*
		from recipe A left join recipe_sequence B
		on A.recipe_no = B.recipe_no
		where A.recipe_no = #{recipeNo}
	</select>
	
	<resultMap type="recipevo" id="recipeCollectionMap">
		<result column="recipe_no" property="recipeNo" />
		<result column="member_id" property="memberId" />
		<result column="recipe_title" property="recipeTitle" />
		<result column="recipe_readcount" property="recipeReadcount" />
		<result column="recipe_date" property="recipeDate" />
		<result column="recipe_enabled" property="recipeEnabled" />
		<collection property="recipeSequenceList" ofType="recipeSequence">
			<result column="RECIPE_SEQUENCE_NO" property="recipeSequenceNo" />
			<result column="RECIPE_NO" property="recipeNo" />
			<result column="RECIPE_ORDER" property="recipeOrder" />
			<result column="RECIPE_CONTENT" property="recipeContent" />
			<result column="ORIGINAL_RECIPE_PIC" property="originalRecipePic" />
			<result column="RENAMED_RECIPE_PIC" property="renamedRecipePic" />
		</collection>
	</resultMap>
	
	<select id="selectMaterial" resultMap="materialSectionMap">
		select * from recipe_ingredient i left join food_section s
		on i.food_section_no = s.food_section_no
		left join food f on i.food_no = f.food_no
		left join food_upper u on s.food_upper_no = u.food_upper_no
		left join food_division d on u.food_division_no = d.food_division_no
		where recipe_no = #{recipeNo}
	</select>
	
	<resultMap type="materialWithSection" id="materialSectionMap">
		<result column="recip_ingre_no" property="recipeIngreNo" />
		<result column="recipe_no" property="recipeNo" />
		<result column="food_section_no" property="foodSectionNo" />
		<result column="food_no" property="foodNo" />
		<result column="food_division_no" property="foodDivisionNo" />
		<result column="food_section_name" property="foodSectionName" />
		<result column="food_section_upper" property="foodSectionUpper" />
		<result column="food_name" property="foodName" />
		<result column="food_company" property="foodCompany" />
		<result column="food_market_price" property="foodMarketPrice" />
		<result column="food_user_price" property="foodUserPrice" />
		<result column="food_enabled" property="foodEnabled" />
		<result column="food_division_name" property="foodDivisionName" />
		<result column="food_upper_no" property="foodUpperNo" />
		<result column="food_upper_name" property="foodUpperName" />
	</resultMap>
	
	<resultMap type="material" id="materialMap">
		<result column="recip_ingre_no" property="recipeIngreNo" />
		<result column="recipe_no" property="recipeNo" />
		<result column="food_section_no" property="foodSectionNo" />
		<result column="food_no" property="foodNo" />
	</resultMap>
	
	<insert id="insertRecipe">
		insert into recipe(recipe_no, member_id, recipe_title, recipe_readcount, recipe_date, recipe_enabled)
		values('rec' || lpad(rec_seq.nextval, 4, '0'), #{memberId}, #{recipeTitle}, default, default, default)
	</insert>
	
	<select id="selectRecipeNo" resultType="string">
		select recipe_no from (select * from recipe order by recipe_date desc)
		where rownum = 1
	</select>
	
	<insert id="insertRecipeSequence" parameterType="java.util.List">
		<foreach collection="list" item="rs" separator=" " open="INSERT ALL" close="select * from dual">
			into recipe_sequence
			(recipe_sequence_no, recipe_no, recipe_order, recipe_content, original_recipe_pic, renamed_recipe_pic)
			values (
			'rseq' || lpad(get_sequence_id(), 5, '0'),
			#{rs.recipeNo},
			#{rs.recipeOrder},
			#{rs.recipeContent},
			#{rs.originalRecipePic},
			#{rs.renamedRecipePic}
			)
		</foreach>
	</insert>
	
	<select id="selectFoodSectionNo" resultType="string">
		select food_section_no from food_section
		where food_section_name = #{material}
	</select>
	
	<insert id="insertRecipeIngredient">
		<foreach collection="list" item="m" separator=" " open="INSERT ALL" close="select * from dual">
			into recipe_ingredient
			(recip_ingre_no, recipe_no, food_section_no, food_no)
			values (
			'ing' || lpad(get_ingre_id(), 5, '0'),
			#{m.recipeNo},
			#{m.foodSectionNo},
			#{m.foodNo}
			)
		</foreach>
	</insert>
	
	<select id="selectFoodNo" resultType="string">
		select food_no from food where food_section_no = #{foodSectionNo}
	</select>
	
	<select id="selectFoodDivisionNo" resultType="string">
		select food_division_no from food_division where food_division_name = #{fr}
	</select>
	
	<select id="selectFoodSectionList" resultMap="foodSectionMap">
		SELECT food_section_no, food_section_name
		FROM FOOD_SECTION s LEFT JOIN FOOD_UPPER U ON S.FOOD_UPPER_NO = U.FOOD_UPPER_NO
					LEFT JOIN FOOD_DIVISION D ON U.FOOD_DIVISION_NO = D.FOOD_DIVISION_NO
					where d.food_division_no = #{foodDivisionNo}
	</select>
	
	<resultMap type="foodSection" id="foodSectionMap">
		<result column="food_section_no" property="foodSectionNo" />
		<result column="food_division_no" property="foodDivisionNo" />
		<result column="food_section_name" property="foodSectionName" />
		<result column="food_section_upper" property="foodSectionUpper" />
	</resultMap>
	
	<update id="readCountUp">
		update recipe set recipe_readcount = recipe_readcount + 1 where recipe_no = #{recipeNo}
	</update>
	
	<select id="selectBoardCommentList" resultMap="boardCommentMap">
		select * from board_comment where recipe_no = #{recipeNo} and board_comment_enabled = 1
		start with board_comment_level=1 connect by prior board_comment_no=board_comment_ref order siblings by board_comment_date
	</select>
	
	<resultMap type="boardComment" id="boardCommentMap">
		<result column="board_comment_no" property="boardCommentNo" />
		<result column="recipe_no" property="recipeNo" />
		<result column="board_comment_writer" property="boardCommentWriter" />
		<result column="board_comment_level" property="boardCommentLevel" />
		<result column="board_comment_content" property="boardCommentContent" />
		<result column="board_comment_ref" property="boardCommentRef" />
		<result column="board_comment_date" property="boardCommentDate" />
		<result column="board_comment_enabled" property="boardCommentEnabled" />
	</resultMap>
	
	<insert id="boardCommentInsert">
		insert into board_comment(board_comment_no, recipe_no, board_comment_writer, board_comment_level, board_comment_content, board_comment_ref, board_comment_date, board_comment_enabled)
		values('com' || lpad(comment_seq.nextval, 5, '0'), #{recipeNo}, #{boardCommentWriter}, #{boardCommentLevel}, #{boardCommentContent}, #{boardCommentRef}, default, default)
	</insert>
	
	<update id="boardCommentUpdate">
	 update board_comment
	 <set>
	 	<if test="boardCommentContent != null and boardCommentContent != ''">
	 		board_comment_content = #{boardCommentContent}
	 	</if>
	 </set>
	 where board_comment_no = #{boardCommentNo}
	</update>
	
	<update id="boardCommentDelete">
		update board_comment
		<set>
			board_comment_enabled = 0
		</set>
		where board_comment_no = #{boardCommentNo}
	</update>
	
	<select id="selectOneBoardComment" resultMap="boardCommentMap">
		select * from board_comment
		where board_comment_no = #{boardCommentNo}
	</select>
	
	<insert id="boardCommentBlame">
		insert into blame(blame_id, member_id, bla_content, blme_target_id, target_type, blame_date, blame_action)
		values('bla' || lpad(blame_seq.nextval, 5, '0'), #{memberId}, #{blameContent}, #{blameTargetId}, ${targetType}, default, default)
	</insert>
	
	<select id="selectRecipeListCnt" resultType="int">
		select count(*) from recipe
		where recipe_enabled = 1
	</select>
	
	<select id="foodSearchList" resultMap="foodMap">
		select * from food
		where food_name like '%' || #{searchName} || '%'
	</select>
	
	<resultMap type="food" id="foodMap">
		<result column="food_no" property="foodNo" />
		<result column="food_name" property="foodName" />
		<result column="food_section_no" property="foodSectionNo" />
		<result column="food_company" property="foodCompany" />
		<result column="food_market_price" property="foodMarketPrice" />
		<result column="food_user_price" property="foodUserPrice" />
		<result column="food_enabled" property="foodEnabled" />
		<result column="food_img" property="foodImg" />
		<result column="food_original_file_name" property="foodOriginalFileName" />
		<result column="food_renamed_file_name" property="foodRenamedFileName" />
	</resultMap>
	
	<select id="searchFoodNo" resultType="string">
		select food_no from food
		where food_name = #{searchResult}
	</select>
	
	<update id="recipeDelete">
		update recipe
		<set>
			recipe_enabled = 0
		</set>
		where recipe_no = #{recipeNo}
	</update>
	
	<select id="selectLastImage" resultType="string">
		SELECT renamed_recipe_pic FROM (SELECT * FROM recipe_sequence where recipe_no = #{recipeNo} ORDER BY recipe_order desc) WHERE rownum = 1
	</select>
</mapper>