<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="marketOwner">
	
	<insert id="insertMarketFounded">
		insert into market
		values('mar'||LPAD(seq_market_no.nextval, 5, '0'), 
		#{memberId}, default, #{marketTelephone}, 
		#{marketAddress}, #{marketAddress2}, 1, default, default)
	</insert>
	
	<update id="updateMemberFounded">
		update member
		set member_check=2
		where member_id=#{memberId}
	</update>
	
	<select id="selectByMemberId" resultMap="marketAndMember">
		select *
		from market join member using (member_id)
		where member_id=#{memberId} and market_enabled=1
	</select>
	<resultMap type="marketMember" id="marketAndMember">
		<id column="member_id" property="memberId"/>
		<result column="market_no" property="marketNo"/>
		<result column="market_resident" property="marketResident"/>
		<result column="market_telephone" property="marketTelephone"/>
		<result column="market_address" property="marketAddress"/>
		<result column="market_address2" property="marketAddress2"/>
		<result column="market_enabled" property="marketEnabled"/>
		<result column="flag" property="flag"/>
		<result column="market_name" property="marketName"/>
		<association javaType="member" property="member">
			<id column="member_id" property="memberId"/>
		    <result column="member_password" property="memberPassword"/>
		    <result column="member_name" property="memberName"/>
		    <result column="member_point" property="memberPoint"/>
		    <result column="member_address" property="memberAddress"/>
		    <result column="member_address2" property="memberAddress2"/>
		    <result column="member_phone" property="memberPhone"/>
		    <result column="member_enrolldate" property="memberEnrolldate"/>
		    <result column="member_check" property="memberCheck"/>
		    <result column="member_enabled" property="memberEnabled"/>
		</association>
	</resultMap>
	
	<update id="updateMarketFounded">
		update market 
		set market_telephone=#{marketTelephone}, market_address=#{marketAddress}, market_address2=#{marketAddress2}
		where member_id=#{memberId}
	</update>
	
	<update id="cancelFounded">
		update market 
		set market_enabled=0
		where market_no=#{marketNo}
	</update>
	
	<select id="selectMarketList" resultType="market">
		select * from market
		where flag = #{flag}
	</select>

	<update id="updateMemberCancelFounded">
		update member
		set member_check=1
		where member_id=#{memberId}
	</update>
	
	<update id="myMarketUpdate">
		update market
		set market_telephone=#{marketTelephone}
		where market_no=#{marketNo}
	</update>
	
	<update id="myMarketOpen">
		update market
		set flag=2
		where market_no=#{marketNo}
	</update>
	
</mapper>