<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="food">
	<!-- <insert id="inserTest">
		INSERT INTO food_section (FOOD_SECTION_NO, FOOD_DIVISION_NO, FOOD_SECTION_NAME)
		VALUES('SECT'||FOOD_sect_SEQ.NEXTVAL, 'DIV49', #{string} )
	</insert>
	<select id="getfoodSectionList" resultType="foodSection">
		SELECT *
		FROM FOOD_SECTION
	</select>
	<insert id="insertFoodToDB" parameterType="food">
		INSERT INTO FOOD(FOOD_NO, FOOD_NAME, FOOD_SECTION_NO
                         , FOOD_COMPANY, FOOD_MARKET_PRICE, FOOD_MEMBER_PRICE
                         , FOOD_ENABLED, FOOD_IMG)
		VALUES('FOOD'|| LPAD(FOOD_SEQ_NO.NEXTVAL, 5, '0')
				, #{foodName}
				, #{foodSectionNo}
				, #{foodCompany}
				, #{foodMarketPrice}
				, #{foodMemberPrice}
				, DEFAULT
				,#{foodImg} )
	</insert> -->
	<select id="selectFoodSectionList" resultType="foodSection">
		SELECT DISTINCT FOOD_DIVISION_NO, FOOD_SECTION_UPPER
		FROM FOOD_SECTION
	</select>
	<select id="selectFoodDivisionList" resultType="foodDivision">
		SELECT *
		FROM FOOD_DIVISION
		ORDER BY FOOD_DIVISION_NAME
	</select>
<!-- 	<select id="selectFoodByCat" resultType="food">
		select F.FOOD_NO, F.FOOD_NAME, F.FOOD_SECTION_NO, F.FOOD_COMPANY, F.FOOD_MARKET_PRICE, F.FOOD_MEMBER_PRICE, F.FOOD_ENABLED, F.FOOD_IMG
		from food_division d left join food_section s on d.food_division_no = s.food_division_no
        					left join food f on s.food_section_no = f.food_section_no
		where (S.food_section_no like #{foodCatNo}) OR (D.FOOD_DIVISION_NO like #{foodCatNo}) 
	</select> -->
	<select id="selectFoodByDiv" resultType="food">
		select F.FOOD_NO, F.FOOD_NAME, F.FOOD_SECTION_NO, F.FOOD_COMPANY, F.FOOD_MARKET_PRICE, F.FOOD_MEMBER_PRICE, F.FOOD_ENABLED, F.FOOD_IMG
		from food_division d left join food_section s on d.food_division_no = s.food_division_no
        					left join food f on s.food_section_no = f.food_section_no
		where D.FOOD_DIVISION_NO like #{foodDivisionNo}
	</select>
	<select id="selectFoodByUpper" parameterType="map" resultType="food">
		select F.FOOD_NO, F.FOOD_NAME, F.FOOD_SECTION_NO, F.FOOD_COMPANY, F.FOOD_MARKET_PRICE, F.FOOD_MEMBER_PRICE, F.FOOD_ENABLED, F.FOOD_IMG
		from food_division d left join food_section s on d.food_division_no = s.food_division_no
        					left join food f on s.food_section_no = f.food_section_no
		where (D.FOOD_DIVISION_NO like #{foodDivisionNo}) AND (S.FOOD_SECTION_UPPER LIKE #{foodSectionUpper})
	</select>
	<select id="selectSubSectionList" resultType="foodSection">
		SELECT DISTINCT FOOD_DIVISION_NO, FOOD_SECTION_UPPER
		FROM FOOD_SECTION
        WHERE FOOD_DIVISION_NO LIKE #{foodDivisionNo}
	</select>
	<select id="selectFoodSectionNameList" resultType="foodSection">
		SELECT * 
		FROM FOOD_SECTION
		where (FOOD_DIVISION_NO like #{foodDivisionNo}) AND (FOOD_SECTION_UPPER LIKE #{foodSectionUpper})
	</select>
	<select id="selectFoodBySect" parameterType="map" resultType="foodSection">
		select * 
		from food_section
		where food_division_no like #{foodDivisionNo} AND FOOD_SECTION_UPPER LIKE #{foodSectionUpper}
	</select>
</mapper>