<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	
	<select id="noticeList" resultType="notice">
		select * from notice where notice_enabled = 1 and notice_category not in ('FAQ')
	</select>
	
	<select id="selectOne" resultType="notice">
		select * from notice where notice_no = #{noticeNo}
	</select>
	
	<update id="readcount">
		update notice set notice_readcount = notice_readcount + 1 where notice_no = #{noticeNo}
	</update>
	
	<insert id="insertNotice" >
		insert into notice (notice_no, notice_title, notice_writer, notice_content, notice_category)
		values(
			'nseq' || lpad(notiseq_seq.nextval, 5, '0'),
			#{noticeTitle},
			'Urban Table',
			#{noticeContent},
			#{noticeCategory}
		)
	</insert>
	
	<update id="updateNotice">
		update notice 
		set notice_title = #{noticeTitle}, 
		notice_content = #{noticeContent}, 
		notice_category = #{noticeCategory}, 
		notice_date_modified = sysdate
		where notice_no = #{noticeNo} 
	</update>
	
	<update id="deleteNotice">
		update notice set notice_enabled = 0 where notice_no = #{noticeNo}
	</update>
	
</mapper>