<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- resultType이 map 또는 List일때 컬럼의 값이 null인 값을 받기위한 설정 -->
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.urbantable.event.model.vo.Coupon"
			alias="coupon" />
		<typeAlias type="com.kh.urbantable.admin.model.vo.Banner"
			alias="banner" />
		<typeAlias type="com.kh.urbantable.notice.model.vo.Notice"
			alias="notice" />
		<typeAlias type="com.kh.urbantable.member.model.vo.Member"
			alias="member" />
		<typeAlias type="com.kh.urbantable.cart.model.vo.Cart"
			alias="cart" />
		<typeAlias
			type="com.kh.urbantable.marketOwner.model.vo.Market" alias="market" />
		<typeAlias type="com.kh.urbantable.recipe.model.vo.Recipe"
			alias="recipe" />
		<typeAlias
			type="com.kh.urbantable.marketOwner.model.vo.Market" alias="market" />
		<typeAlias
			type="com.kh.urbantable.admin.model.vo.MarketMember"
			alias="marketMember" />
		<typeAlias type="com.kh.urbantable.recipe.model.vo.RecipeVO"
			alias="recipevo" />
		<typeAlias type="com.kh.urbantable.recipe.model.vo.RelatedRecipe"
			alias="relatedRecipe" />
			
		<typeAlias
			type="com.kh.urbantable.recipe.model.vo.RecipeSequence"
			alias="recipeSequence" />
		<typeAlias type="com.kh.urbantable.recipe.model.vo.Material"
			alias="material" />
		<typeAlias
			type="com.kh.urbantable.event.model.vo.Event" alias="event" />
		<typeAlias
			type="com.kh.urbantable.marketOwner.model.vo.MarketEvent"
			alias="marketWithEvent" />
		<typeAlias type="com.kh.urbantable.food.model.vo.Food"
			alias="food" />
		<typeAlias
			type="com.kh.urbantable.food.model.vo.FoodDivision"
			alias="foodDivision" />
		<typeAlias
			type="com.kh.urbantable.food.model.vo.FoodUpper"
			alias="foodUpper" />
		<typeAlias
			type="com.kh.urbantable.food.model.vo.FoodSection"
			alias="foodSection" />
		<typeAlias
			type="com.kh.urbantable.food.model.vo.FoodWithFoodSection"
			alias="foodWithFoodSection" />
		<typeAlias
			type="com.kh.urbantable.food.model.vo.FoodWithStockAndEvent"
			alias="foodWithStockAndEvent" />
		<typeAlias
			type="com.kh.urbantable.payment.model.vo.PayDetail" alias="paydetail" />
		<typeAlias
			type="com.kh.urbantable.foodOrder.model.vo.MarketOrder"
			alias="marketOrder" />
		<typeAlias
			type="com.kh.urbantable.foodOrder.model.vo.MarketOrderDetail"
			alias="marketOrderDetail" />
		<typeAlias type="com.kh.urbantable.member.model.vo.MemberAutoLogin"
			alias="memberAutoLogin"/>
		<typeAlias type="com.kh.urbantable.foodOrder.model.vo.MarketCart"
			alias="marketCart"/>
		<typeAlias type="com.kh.urbantable.recipe.model.vo.MaterialWithSection"
			alias="materialWithSection"/>
		<typeAlias type="com.kh.urbantable.recipe.model.vo.BoardComment"
			alias="boardComment"/>
	</typeAliases>
</configuration>