<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.urbantable.notice.model.vo.Notice"
			alias="notice" />
		<typeAlias type="com.kh.urbantable.member.model.vo.Member"
			alias="member" />
		<typeAlias type="com.kh.urbantable.cart.model.vo.Cart" alias="cart" />
		<typeAlias type="com.kh.urbantable.marketOwner.model.vo.Market" alias="market" />
		<typeAlias type="com.kh.urbantable.recipe.model.vo.Recipe"
			alias="recipe" />
		<typeAlias type="com.kh.urbantable.marketOwner.model.vo.Market"
			alias="market" />
		<typeAlias type="com.kh.urbantable.admin.model.vo.MarketMember"
			alias="marketMember" />
			
	</typeAliases>
</configuration>