<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectOneMember" resultType="member">
		select *
		from member
		where
			member_id = #{memberId}
			and member_enabled = 1 
	</select>
	
	<select id="phoneDuplicate" resultType="member">
		select *
			from member
		where
			member_phone = #{phone}
	</select>
	
	<insert id="insertPhoneAuth">
		insert into authPhone
		values(#{phone}, #{authCode})
	</insert>
	
	<delete id="deletePhoneAuth">
		delete from authPhone
		where phone = #{phone}
	</delete>
	
	<select id="checkMessage" resultType="int">
		select count(*)
		from authPhone
		where phone = #{phone}
		and authcode = #{authCode}
	</select>
	
	<insert id="insertMember">
		insert into member(member_id, member_password, member_name, member_address, member_address2, member_phone)
		 values(#{memberId}, #{memberPassword}, #{memberName}, #{memberAddress}, #{memberAddress2}, #{memberPhone})
	</insert>
	
	<select id="selectListMember" resultType="member">
		select * from member
	</select>
	
	<select id="selectAddress" resultType="map">
		 select member_id, member_address, address.member_address2, address_name, 0 as flag from address where member_id = #{memberId}
        union
        select member_id, member_address, member_address2, null, 1 from member where member_id = #{memberId}
        order by flag desc
	</select>
	
	

</mapper>