<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectOneMember" resultType="member">
		select *
		from member
		where
			member_id = #{memberId}
			and member_enabled = 1 
	</select>
	
	<select id="phoneDuplicate" resultType="member">
		select member_id, member_enrolldate
			from member
		where
			member_phone = #{phone}
		<if test = 'name != null and name != ""'>
			and member_name = #{name}
		</if>
		<if test = 'id != null and id != ""'>
			and member_id = #{id}
		</if>
	</select>
	
	<insert id="insertPhoneAuth">
		insert into authPhone
		values(#{phone}, #{authCode}, #{flag})
	</insert>
	
	<delete id="deletePhoneAuth">
		delete from authPhone
		where phone = #{phone}
	</delete>
	
	<select id="checkMessage" resultType="int">
		select count(*)
		from authPhone
		where phone = #{phone}
		and authcode = #{authCode}
		and flag = #{flag}
	</select>
	
	<insert id="insertMember">
		insert into member(member_id, member_password, member_name, member_address, member_address2, member_phone)
		 values(#{memberId}, #{memberPassword}, #{memberName}, #{memberAddress}, #{memberAddress2}, #{memberPhone})
	</insert>
	
	<select id="selectListMember" resultType="member">
		select * from member
	</select>
	
	<select id="selectAddress" resultType="map">
		select address_no, member_id, member_address, address.member_address2, address_name, 0 as flag from address where member_id = #{memberId}
        union
        select '' as address_no, member_id, member_address, member_address2, null, 1 from member where member_id = #{memberId}
        order by flag desc
	</select>
	
	<!-- 자동로그인 구현 부분 -->
	<!-- 자동로그인 등록 -->
	<insert id="insertAutoLogin">
		insert into member_auto_login
		values(#{cookieKey}, #{memberId}, sysdate)
	</insert>
	
	<!-- 자동로그인 조회 -->
	<select id="selectAutoLogin" resultType="memberAutoLogin">
		select * from member_auto_login
		where cookie_key = #{cookieKey}
		and last_date + 7 > sysdate
	</select>
	
	<!-- 자동로그인 마지막 접속일 수정 -->
	<update id="updateAutoLogin">
		update member_auto_login
		set last_date = sysdate
		where cookie_key = #{cookieKey}
	</update>
	
	<!-- 자동로그인 삭제 -->
	<delete id="deleteAutoLogin">
		delete from member_auto_login
		where cookie_key = #{cookieKey}
	</delete>
	
	<!-- 비밀번호 찾기 -> 비밀번호 변경 -->
	<update id="modifyMember">
		update member
		<trim prefix="SET" suffixOverrides=",">
 			<if test="memberPassword != null">member_password=#{memberPassword},</if>
			<if test="memberAddress != null">member_address=#{memberAddress},</if>
			<if test="memberAddress2 != null">member_address2=#{memberAddress2},</if>
		</trim>
		where member_id = #{memberId}
	</update>
	
	<update id="modifyAddr">
		update address
		set member_address = #{memberAddress},
			member_address2 = #{memberAddress2}
		where member_id = #{memberId}
			and address_no = #{addressNo}
	</update>
	
	<insert id="insertAddr">
		insert into address
		values ('ADDR' || lpad(SEQ_ADDRESS_ID.nextval, 4, '0'), #{memberId}, #{memberAddress}, #{memberAddress2}, #{addressName})
	</insert>
	
	<delete id="deleteAddr">
		delete from address where member_id = #{memberId} and address_no = #{addressNo}
	</delete>

	<insert id="insertStockNotice">
		insert into stock_notice
		values(#{memberId}, #{foodNo}, sysdate)
	</insert>
	
	<select id="selectStockNotice" resultType="_int">
		select count(*) cnt from stock_notice
		where member_id = #{memberId} and food_no = #{foodNo}
	</select>
	
	<select id="sendMsgStockNotice" resultType="map">
		select * from(  
        select sn.member_id, sn.food_no, m.member_phone, fs.food_section_name, (select count(*) from market_order mo
                                                                    left join market_order_detail mod
                                                                        on mo.market_order_no = mod.market_order_no
                                                                    where mod.food_no = sn.food_no
                                                                    	and mo.market_order_date > sn.notice_date
                                                                    	 and mo.market_order_flag = 1) flag
        from stock_notice sn
            left join member m
                on sn.member_id = m.member_id
            left join food f
                on sn.food_no = f.food_no
            left join food_section fs
                on f.food_section_no = fs.food_section_no) where flag > 0
	</select>
	
	<delete id="deleteSendMsg">
		delete from stock_notice
			where member_id = #{memberId}
				and food_no = #{foodNo}
	</delete>

</mapper>