@charset "UTF-8";

#foodList_Cat li {
	display: inline; /* 세로나열을 가로나열로 변경 */
	border-left: 1px solid #999; /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
	padding: 0 10px; /* 각 메뉴 간격 */
}

/* foodView.jsp */
#foodExpression{
	overflow: auto;
}
 #foodExpressionImg{
	float:left;
	margin: 0 100px 0px 70px;
}
#foodExpressionTb {
	float:left; 
	width: 400px;
	text-align: center;
}

#foodExpressionTb p{
	font-size: 17px;
	font-weight: bolder;
}#amount{
	width: 70px;
	text-align: center;
}
#buttons{
 text-align: right;
	
}

/* insertFood.jsp */
.catSelect{
	width: 200px;
	margin: 0px 20px 0px 0px;
}
