@charset "utf-8"; 

.founded_btn {
	margin-top:20px;
}

.postBtn {
	background:#9d8420;
	font-weight:400;
	width:120px;
	border:1px solid #9d8420;
	vertical-align:bottom;
}

.postBtn:hover {
	background:#9d8420;
	border:1px solid #9d8420;
	color:#fff;
}

#marketAddress, 
#marketAddress2, 
#sample6_extraAddress {
	width: 350px;
}

.info {
	padding-bottom:3px;
	font-size:15px;
}

#marketOrder table .btn,
form[name=orderSearchFrm2] input[type=submit] {
	width: 60px;
	border-radius:3px;
}

.searchFrm {
	position:relative;
	width:330px;
	margin-bottom:10px;
}

#marketListPage .searchFrm {
	width:415px;
	margin:20px auto 0;
}

.searchFrm input[type=submit] {
	position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 38px;
    background: url(../images/search.png) no-repeat center center;
    background-size: 20px;
    border: none;
    font-size: 0;
    cursor: pointer;
}

form[name=orderSearchFrm2] {
	margin-bottom:10px;
	padding:15px;
	font-size:15px;
	border-radius:3px;
	box-sizing:border-box;
}

form[name=orderSearchFrm2] > div > p {
	float:left;
	width: 80px;
	line-height:42px;
}

form[name=orderSearchFrm2] > div > div {
	float:left;
}

.mapAddress {
	cursor:pointer;
}

.mapAddress img {
	vertical-align:text-top;
}

.validate {
	font-size:14px;
	padding-left:8px;
}

.marketListTab li {
	float: left;
	padding:0 20px;
	color: #666;
	background: url('../images/bar.png') no-repeat left center;
	cursor:pointer;
}

.marketListTab li:first-child {
	background:none;
}

.marketListTab li.ac_tab,
.marketListTab li:hover {
	color:#374818;
	font-weight:600;
}

#marketListPage .sub_tit {
	font-size:24px;
	padding-bottom:40px;
}

#marketListPage .inner {
	padding:50px 0;
}

.marketResult {
	height:300px;
	padding:40px;
	overflow-y:scroll;
	border:1px solid #374818;
	box-sizing:border-box;
}

.marketResult+p {
	padding-top:7px;
}

.marketSort_wrap {
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:2px solid #374818;
	box-sizing:border-box;
}

.marketSort_wrap:after {
	content:'';
	display:block;
	clear:both;
}

.marketSort_wrap ul {
	margin-top:20px;
}

.marketSort_wrap ul,
.marketSort_wrap ul li {
	float:left;
}

.marketSort_wrap ul li {
	position:relative;
	padding-right: 25px;
    color: #999;
    font-size: 15px;
    cursor:pointer;
}

.marketSort_wrap ul li.cur,
.marketSort_wrap ul li:hover {
	color:#374818;
}

.marketSort_wrap ul li:after {
	content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 3px;
    height: 3px;
    background: #d8d8d8;
}

.marketSort_wrap ul li:last-child:after {
	display:none;
}

.marketSort_wrap select {
	float:right;
	width:180px;
}

.flatpickr-input[readonly] {
	background:#fff;
}

.marketResultList li {
	float:left;
	width: 50%;
	margin-top:30px;
}

.marketResultList li.noResult {
	float:none;
	width:100%;
	line-height:220px;
}

.marketResultList li:first-child,
.marketResultList li:nth-child(2) {
	margin-top: 0;
}

.marketResultList li a {
	padding-right:20px;
	color:#666;
	vertical-align:bottom;
}

.marketInfoDetail {
	padding:3px 5px;
	color: #666;
    font-size: 13px;
    margin-right: 5px;
    border: 1px solid #666;
    box-sizing:border-box;
    line-height:17px;
}

.marketEvent {
	border: 1px solid #374818;
	color: #374818;
}

.marketEvent2 {
	border: 1px solid #9d8420;
	color: #9d8420;
}

.marketResultList li a:hover {
	text-decoration:underline;
}

.marketInfo {
	padding-top:60px;
	display:none;
}

.marketInfo h4 {
	font-size:30px;
	line-height:34px;
	padding-bottom:7px;
}

.marketInfo > p {
	padding-bottom:30px;
	border-bottom:2px solid #374818;
	box-sizing:border-box;
}

.marketInfo span.marketInfoDetail {
	font-size:11px;
	line-height:15px;
}

.marketInfo ul {
	margin-bottom:40px;
	padding:50px 0 45px;
	border-bottom:1px solid #e9e9e9;
	box-sizing:border-box;
}

.marketInfo ul li {
	float:left;
	width:236px;
}

.marketInfo ul li p {
	color:#222;
}

.marketInfo ul li span.dp_block {
	padding: 20px 0 5px;
    color: #666;
}

.marketInfo h5 {
	position:relative;
	font-size:20px;
	padding-bottom:9px;
}

.marketInfo h5:after {
	position:absolute;
	content:'';
	display:block;
	width: 25px;
	height: 3px;
	background:#374818;
	left:0;
	bottom:0;
}

#marketInfo_map {
	margin-top:10px;
	height:400px;
}

.marketResult table th {
	padding:0 0 10px;
	font-weight:400;
    color: #888;
    border-bottom:1px solid #d8d8d8;
    box-sizing:border-box;
}

.marketResult table td {
	padding:10px 0 0;
}

.marketResult table td,
.marketResult table td a {
    color: #666;
}

.marketResult table td a:hover {
	text-decoration: underline;
}

#srchCompany {
	width:200px;
}

.autoComplete {
	display: none;
	background: #fff;
	min-width: 200px;
	border: 1px solid #e9e9e9;
	position: absolute;
	top: 51px;
	z-index:9;
	box-sizing:border-box;
}

.autoComplete li {
	padding: 0 10px;
	list-style: none;
	cursor: pointer;
}

.autoComplete li.sel {
	background: #374818;
	color: #fff;
}

.ck-editor__editable {
    height: 300px;
    overflow:hidden;
    overflow-y:scroll;
}

#eventContent {
	width:100%;
	height:300px;
	overflow:hidden;
    overflow-y:scroll;
}

.marketStockTab {
	margin-bottom:40px;
	border-bottom:2px solid #374818;
}

.marketStockTab:after {
	content:'';
	display:block;
	clear:both;
}

.marketStockTab li {
	float:left;
	width:170px;
	margin-top:-1px;
	cursor:pointer;
	border:1px solid #d6d6d6;
	border-bottom:none;
	background:#f8f8f8;;
    color: #777;
    font-size: 15px;
    padding:10px 0;
}

.marketStockTab li.ac_tab {
	position:relative;
	border:2px solid #374818;
	border-bottom:none;
	color:#374818;
	background:#fff;
}

.marketStockTab li.ac_tab:after {
	content:'';
	position:absolute;
	bottom:-2px;
	width:100%;
	height:2px;
	background:#fff;
	display:block;
}