<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="check">

	<select id="selectAllList" resultType="map">
        select mo.market_no, to_char(mo.market_order_date,'yyyy-mm-dd') order_date, mod.*, 
        		m.market_name marketName, f.food_name foodName
		from market_order_detail mod 
		    join market_order mo on mod.market_order_no = mo.market_order_no 
		    join market m on mo.market_no = m.market_no
		    join food f on mod.food_no = f.food_no
		where market_order_flag = 0 and market_order_enabled=1 and market_order_detail_enabled = 1
		order by mo.market_order_date
	</select>

	<select id="selectFoodNo" resultType="_int">
		select count(*) 
		from stock 
		where market_no = #{marketNo} 
				and food_no = #{food}
	</select>

	<update id="updateAmount">
		update stock set stock_amount = stock_amount + #{amount}
		where market_no = #{marketNo} and food_no = #{food}
	</update>
	
	<update id="updateFlag">
		update market_order set market_order_flag = 1 where market_order_no = #{orderNo}
	</update>
	
	<insert id="insertFood">
		insert into stock values(
		#{marketNo},
		#{food},
		#{amount}		
		)
	</insert>
	
	<select id="selectMODList" resultType="MarketOrderDetail">
		select * from market_order_detail where market_order_no = #{orderNo} and market_order_detail_enabled = 1
	</select>
	
	<select id="selectBlameList" resultMap="blameMap">
		select * from blame where blame_action = 1
	</select>
	
		<resultMap type="blame" id="blameMap">
		<result column="blame_id" property="blameId" />
		<result column="member_id" property="memberId" />
		<result column="bla_content" property="blameContent" />
		<result column="blme_target_id" property="blameTargetId" />
		<result column="target_type" property="targetType" />
		<result column="blame_date" property="blameDate" />
		<result column="blame_action" property="blameAction" />
		</resultMap>

	<select id="selectBlame" resultMap="blameMap">
		select * from blame where blame_id = #{blameId}
	</select>
	
	<update id="blameActionChk">
		update blame set blame_action = 0 where blame_id = #{blameId}
	</update>
	
	<update id="updateComment">
		update board_comment set board_comment_enabled = 0 where board_comment_no = #{blameTargetId}
	</update>
	
	<update id="updateRecipe">
		update recipe set recipe_enabled = 0 where recipe_no = #{blameTargetId}
	</update>
</mapper>