<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">

	<insert id="insertCoupon1">
		insert into coupon values(
			'coup' || lpad(coupon_seq.nextval, 5, '0'),
			#{memberId},
			#{couponDiscount},
			sysdate,
			sysdate + 7,
			1, 
			5000
		)
	</insert>
	
	<select id="selectOne" resultType="member">
		select * 
		from member 
		where member_id = #{memberId} 
				and member_enabled = 1 
	</select>
	
		<select id="selectMarketNoByMemberId" resultType="string">
		select market_no from market 
		where member_id=#{memberId} and market_enabled=1
	</select>
	
	<insert id="insertEvent">
		insert into event values(
			'event' || lpad(seq_event_id.nextval, 5, '0'),
			#{eventTitle},
			#{eventContent},
			#{marketNo}, 
			#{eventCategory},
			#{eventDateStart},
			#{eventDateEnd},
			1,
			#{eventPrice}			
		)
	</insert>
</mapper>